@media screen and (min-width: 751px)
{
    .body 
        {
            background-image: url(back\Background_ChoppingBoard21.jpg);
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: cover;
            cursor: auto;
            color: black;
        }
        .ul li
        {
            font-size: 20px;
            list-style-image: url(back\icons8-features-list-24.png);
            list-style-position: inside;
            font-weight: bolder;
        }
        .ol li
        {
            font-size: 25px;
            list-style-type: lower-roman;
            font-weight: bolder;
        }
        ol img
        {
            width: 20%;
        }
        hr + hr{
            display: none;
        }
        p 
        {
            font-size: 30px;
        }
        p#id
        {
            font-style: italic;
            font-weight: bold;
            padding-top: 5% ;
            font-size: x-large;
        }
        p span
        {
            font-style: italic;
        }
        p span:last-child
        {
            text-decoration-line: underline;
        } 
        .special
        {
            font-style: normal;
            color: red;
        }
        .dish
        {
            display: block;
            max-width: 40%;
            margin-left: auto;
            margin-right: auto;
            height: auto;
        }
        
}

        