.body 
        {
            background-image: url(back\mother_elephant_and_baby_love-wallpaper-320x480.jpg);
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: cover;
            cursor: auto;
            color: white;
            
        }
        
        .ul li
        {
            font-size: 20px;
            list-style-image: url(back\icons8-features-list-24.png);
            list-style-position: inside;
            font-weight: bolder;
        }
        .ol li
        {
            font-size: 25px;
            list-style-type: circle;
            font-weight: bolder;
        }
        ol img
        {
            width: 40%;
        }
        
        p 
        {
            font-size: 30px;
        }
        p#id
        {
            font-style: italic;
            font-weight: bold;
            padding-top: 5% ;
            font-size: x-large;
        }
        p span
        {
            font-style: italic;
        }
        p span:last-child
        {
            text-decoration-line: underline;
        } 
        .special
        {
            font-style: normal;
            color: red;
        }
        img + h3{
            text-align: center;
        }
        
        .dish
        {
            
            max-width: 100%;
            height: auto;
        }
        